.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px - 4rem); /* Hauteur de la vue - topbar - padding */
  text-align: center;
}

.home-container {
  background: white;
  padding: 3rem 4rem;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  max-width: 700px;
}

.home-container h1 {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 1rem;
}

.home-container p {
  font-size: 1.2rem;
  color: #566573;
  line-height: 1.6;
}